@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  *{
    margin:0px;
    padding:0px;
}
:root{
    --main-bg-color: #2874f0;
}
body{
    background-color:#F7F6F2;
}
.container{
    min-height: calc(100vh - 60px - 12vh);
   
}
footer{
    height:10vh;
    background-color:var(--main-bg-color);
    color:white; 
    font-family: 'Roboto', sans-serif;
    margin-top:15px;
}
header{
    /* display:flex; */
    /* height:60px; */
    background-color:var(--main-bg-color);
    color:white;
    font-family: 'Roboto', sans-serif;
   

}
nav{
    display:flex;
    
    
    
   
}
nav ul{
    display:flex;
    /* justify-content:right; */
    align-items:center;
    height:60px;

}
nav ul li{
    list-style:none;
    padding:0px 23px;
    font-weight: bold;
   
}
nav ul li a{
    color:white;
    text-decoration:none;
}
nav ul li a:hover{
    color:#E4D8DC;
    
}
.logo{
    display:flex;
    align-items:center;
    
    
}
.logo img{
   padding:0px 25px;
   width:87px;
}

.searchbar{
    display:flex;
    align-items:center;
    padding: 0px 12px;
}
.searchbar input{
    width:400px;
   height:24px;
   border-radius:6px;
   border:2px solid rgb(223, 223, 226);
   /* text-align:center; */
   margin: 0px 7px 0px 8px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   padding:0px 12px;
}
.slider{
    display:flex;
    justify-content:center;
    /* width:80vw; */
    margin:12px 0px;
}
.cards{
    display:flex;
    jutify-content:center;
}
.cart{
    background-color:white;
    width:95vw;
    margin:auto;
}
.cart-item{
    display:inline-flex;
    justify-content:center; 
    flex-direction:column; 
   margin:0px 20px;
}
.cart h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin:12px 0px;
}
.lines{
    width:22vh;
}
.text-center{
    text-align: center;
}
.my-3{
    padding:4px 0px;
}